
.circle {
    background-color: #3D3E40;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 11px;
    right: 11px;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
 }