.rootList {
  max-width: 335px;
  overflow-y: auto;
  /* padding-right: 20px; */
  padding: 0 4px 0 8px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.root {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    cursor: pointer;
}

.wrapper {
  max-width: 308px,
}


.root:hover {
   background-color:#4c4949;
}



.itemTextBase {
    color: white;
}

.root_itemText {
    font-size: 14px;
    color: #9acfff;
    padding: 0px !important;
    margin: 0 5px;
}

.inset {
    font-size: 13px;
    color: #CCCCCC;
    padding: 0 0 0 12px  !important;
}

.expandIcon {
    fill: #9acfff !important;
    height: 20px !important;
}