.icons {
  fill: #CCCCCC !important;
  font-size: 20px !important;
}

.icons:hover {
  fill: rgb(76, 148, 214) !important;
  font-size: 20px !important;
}

.active {
  fill: #9ACFFF !important;
  font-size: 20px !important;
}


.active:hover  {
  fill: rgb(76, 148, 214) !important;
  font-size: 20px !important;
}

.sidebar{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 360px;
  background-color: #4a4a4b;
  box-sizing: border-box;
  padding: 0 12px 12px 12px;
}

.header{
  display: flex;
  font-size: 18px;
  color: white;
  min-height: 60px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.message{
  text-align: center;
  color: #CCCCCC;
  font-size: 12px;
  margin: 8px;
}

.wrapper{
  display: flex;;
  align-items: center;
  margin: 10px;
}