.item {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.itemText {
    color: white;
    font-size: 14px;
}

.layersList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    width: 330px;
    box-sizing: border-box;
}

.icons {
  fill: #CCCCCC !important;
  font-size: 20px !important;
}

.iconStroke {
    fill: none !important;
    stroke: #CCCCCC !important;
    font-size: 20px !important;
    stroke-width:8px
}
