.sidebar {
    position: absolute;
    z-index: 1;
    width: 60px;
    top: 0px;
    bottom: 0px;
    box-sizing: border-box;
    background-color: #3d3e40;
}

.vertical {
    composes: sidebar;
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: column;
}

.main {
    composes: toolbar;
    flex-grow: 1;
}

.secondary {
    composes: toolbar;
}

.icon {
  width: 28px !important;
  height: 28px !important;
  fill: inherit !important;
}

.icon:hover {    
  fill: red,
}

