.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.text {
  color: #CCCCCC;
  padding: 8px 0;
  font-size: 11px;
}

.toolbar {
    display: flex;
}

.arrowLeft {
    transform: rotate(180deg);
}