
.workspacePage {
    display: block; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
}

.controlsContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: right .3s;
    transition: right .3s;
}

.controlsContainerShifted {
  right: 360px;
}

.header {
  height: 9px;
  width: 100%;
  box-sizing: border-box;
  background: #106953;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabsTrack {
  height: 36px;
  width: 100%;
  box-sizing: border-box;
  background-color: #000000;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 36px;
  background-color: #106953;
  box-sizing: border-box;
  font-size: 12px;
  line-height: normal;
  color: #CCCCCC;
}