.default {
    border-width: 0;
    background: initial;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.default:hover {
    background: whitesmoke;
} 