.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 60px;
    width: 360px;
    background-color:#4a4a4b;
    box-sizing: border-box;
    padding: 0 12px 12px 12px;
}

.header {
    display: flex;
    font-size: 18px;
    color: white;
    min-height: 60px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.iconRoot {
    width: 17px !important;
    height: 17px !important;
    fill: #CCCCCC !important;
}


.listWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    width: 330px;
    box-sizing: border-box;
    height: 0px;
}
