.default {
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #cccccc
}

.default:hover {
    fill: rgb(76, 148, 214);
}

.active {
    compose: default;
    fill: #9ACFFF;
}
