.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}

.header {
   display: flex;
   justify-content: space-between;
   color: #CCCCCC;
   font-weight: bold;
   font-size: 18px;
   align-items: center;
   padding: 12px 12px 0 12px;
   min-height: 40px;
   box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  color: #CCCCCC;
  padding: 0;
  font-size: 11px;
  min-height: 18px;
  padding: 0 12px;
  box-sizing: border-box;
  align-items: center;
}

.statusText {
  display: flex;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 14px; 
  overflow-y: auto;
  box-sizing: border-box
}