
 .gorizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 11px;
    right: 11px;
    box-sizing: border-box;
    z-index: 10;
 }